<div id="ottava-logo" class="navbar-header">
  <button id="menu-toggle" class="navbar-toggle x24 cmn-toggle-switch htx" type="button">
    <span>toggle menu</span>
  </button>
  <h1 class="ottava-logo">
    <a id="home" href="/">
      OTTAVA
    </a>
  </h1>
</div>
<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
  <ul id="header-icons" class="nav navbar-nav">
    <li class="item"><a href="/blog/">Blog</a></li>
    <div class="spacer"></div>
    <li class="item button button-link"><a href="/login">Log in</a></li>
    <li class="item button"><a href="/singup">Sign up</a></li>
  </ul>
</nav>
